<div class="dropdown">
  <button id="dropdownMenu" class="btn btn-default dropdown-toggle" type="button" data-target="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <% if !params[scope.squish].nil? %>
      <%= params[scope.squish] %>
    <% else %>
      <% if @id == "6" && text.squish.to_s == 'buildingtype' %>
        Type
      <% elsif @id == "6" && text.squish.to_s == 'newalterationaddition' %>
        Status
      <% else %>
        <%= text.squish.to_s.capitalize %>
      <% end %>  
    <% end %>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuå">
    <% query.compact.each do |record| %>
      <% final_scope = {scope.squish => record} %>
      <% get_scopes.each do |scope_loop| %>
        <% if scope.squish != scope_loop[0].squish %>
          <% final_scope.merge!({scope_loop[0].squish => scope_loop[1]}) %>
        <% end %>
      <% end %>
      <li>
        <%= link_to record, dataset_path(final_scope) %>
      </li>
    <% end %>
  </ul>
  <% if !params[scope.squish].nil? %>
    <% final_scope_x = get_scopes %>
    <% final_scope_x.each do |scope_loop| %>
      <% if scope.squish == scope_loop[0].squish %>
        <% final_scope_x.delete(scope_loop[0]) %>
      <% end %>
    <% end %>

    <%= link_to "", dataset_path(final_scope_x), class: "glyphicon glyphicon-remove" %>
  <% end %>
  </a>
</div>