<div class="embed-chart hide-650">
	<a href="#" class="text">Embed this database</a>
	<textarea class="hide-desktop" rows="4" cols="75"><div class="center"><iframe frameborder="0" height="450" src="https://gadatabases.herokuapp.com/datasets/<%= @dataset.id %>" width="100%"></iframe></div></textarea>
</div>