<h1 class="header-scroll hide-iframe"><%= @dataset.dataset_name %></h1>

<!-- Subhead -->
<div class="header header-sub hide-desktop show-iframe">
	<div class="header-sub-header">
		<p><%= @dataset.dataset_name %></p>
	</div>
</div>