<%= form_tag @dataset, class: "form-search form-inline", :method => 'get' do %>
	<p>
	  <%= text_field_tag :search, params[:search], class: "form-control" %>
	  <%= submit_tag "Search Name", :name => nil, class: "btn btn-default" %>
	</p>

   <% if !params[:search].nil? %>
   	<%= link_to "", dataset_path, class: "glyphicon glyphicon-remove" %>
  <% end %>
<% end %>